version: "3.9"

services:
  backend:
    image: devops-backend:1.0
    container_name: backend
    ports:
      - "8080:8080"
    restart: always

  frontend:
    image: devops-frontend:1.0
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
